
@{
    ViewData["Title"] = "Index";

    var data = ViewBag.Message;
    var accountIndex = 1;
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/commons.css" type="text/css">
<link rel="stylesheet" href="~/css/transactions.css" type="text/css">

<div class="row">
    <div class="col-sm-2">
        <a asp-controller="Home" asp-action="Index"><img class="logo-img" src="~/content/images/Logo.png" /></a>
    </div>
    <div class="col-sm-10 text-center">
        <h1 class="text-center main-title">Accounts Overview</h1>
    </div>
</div>

<partial name="_SubMenu" />

<hr />
<h2>Your accounts</h2>
<a class="btn btn-light" asp-controller="Accounts" asp-action="AddAccount"><strong>Request a new account</strong></a>
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>IBAN</th>
                <th>Associated Cards</th>
                <th>Balance</th>
                <th>Account actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in data)
            {
                <tr>
                    <th>@accountIndex @{accountIndex++;}</th>
                    <th>@item.IBAN</th>
                    <th>
                        Visa, 0234 1544 **** **** <br />
                        MasterCard, 0434 6544 **** **** <br />
                    </th>
                    <th>@item.Balance @item.Currency</th>
                    <th>
                        <div class="mx-auto">
                            <a class="mx-auto action-button" style="padding:20px" href="#" data-toggle="tooltip" title="Create transaction from this account"><i class="far fa-money-bill-alt action-button-icon"></i></a>
                            <a class="mx-auto action-button" style="padding:20px" href="#" data-toggle="tooltip" title="Remove account"><i class="fas fa-times-circle"></i></a>
                        </div>
                    </th>
                </tr>
            }
            @*<tr>
                <th>2</th>
                <th>@data[1].IBAN</th>
                <th>
                    Visa, 0234 1544 **** **** <br />
                    MasterCard, 0434 6544 **** **** <br />
                </th>
                <th>@data[1].Balance @data[1].Currency</th>
                <th>
                    <div>
                        <a class="action-button"><i class="far fa-money-bill-alt action-button-icon"></i></a>
                    </div>
                </th>
            </tr>
            <tr>
                <th>3</th>
                <th>RO008383842139923</th>
                <th>
                    Visa, 0234 1544 **** **** <br />
                    MasterCard, 0434 6544 **** **** <br />
                </th>
                <th>8933 RON</th>
                <th>
                    <div>
                        <a class="action-button"><i class="far fa-money-bill-alt action-button-icon"></i></a>
                    </div>
                </th>
            </tr>*@
        </tbody>
    </table>
</div>
<ul class="pagination">
    <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
    <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
    <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
    <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
</ul>

<br />
<hr />
<br />

<div class="jumbotron transactions-card-jumbo">
    <h1>The world is moving, so why shouldn't you?</h1>
    <p>Link any of your cards and start making transactions, the sharp way.</p>
    <botton class="btn btn-light">Add a new card</botton>
</div>

<script src='~/lib/chartjs/dist/Chart.bundle.js'></script>
<script src="~/js/home.js" type="text/javascript"></script>