@{
    ViewData["Title"] = "Home Page";
    var BankAccounts = ViewBag.BankAccounts;
    var BankAccountIndex = 1;
    var Labels = ViewBag.Labels;
    var Data = ViewBag.Data;

    var transactions = ViewBag.Transactions;
    var transactionIndex = 1;
    var Username = ViewBag.Username;
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/home.css" type="text/css">

<div class="row">
    <div class="col-sm-2">
        <a asp-controller="Home" asp-action="Index"><img class="logo-img" src="~/content/images/Logo.png" /></a>
    </div>
    <div class="col-sm-10 text-center">
        <h1 class="text-center main-title">Welcome, User!</h1>
    </div>
</div>

<partial name="_SubMenu" />

<hr />
<h2><b>Your most used accounts</b></h2>
<div class="table-responsive-md">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Iban</th>
                <th>Cards</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var BankAccount in BankAccounts)
            {
                <tr>
                    <th>@BankAccountIndex @{BankAccountIndex++;}</th>
                    <th>@BankAccount.IBAN</th>
                    <th>
                        Visa, 0234 1544 **** **** <br />
                        MasterCard, 0434 6544 **** **** <br />
                    </th>
                    <th>@BankAccount.Balance @BankAccount.Currency</th>
                    <th>
                        <div>
                            <a class="action-button" asp-action="MakeTransaction" asp-controller="Transactions" asp-route-senderIban="@BankAccount.IBAN"><i class="far fa-money-bill-alt action-button-icon"></i></a>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container d-flex justify-content-center">
    <canvas id="pieChart" style="max-width: 500px;"></canvas>
</div>
<script src='~/lib/chartjs/dist/Chart.bundle.js'></script>
<script src="~/js/home.js" type="text/javascript"></script>
<script type="text/javascript">
    var labels = @(Html.Raw(Json.Serialize(Labels))), data = @(Html.Raw(Json.Serialize(Data)));
    var ctxP = document.getElementById("pieChart").getContext('2d');
    var myPieChart = new Chart(ctxP, {
        type: 'pie',
        data: {
            labels: labels /*["Account1", "Account2", "Account3", "Account4", "Account5"]*/,
            datasets: [{
                data: data /*[240, 50, 120, 40, 120]*/,
                backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
                hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
            }]
        },
        options: {
            responsive: true
        }
    });
</script>

<hr />

<h2>Latest transactions</h2>
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Sender IBAN</th>
                <th>Receiver IBAN</th>
                <th>Receiver Full Name</th>
                <th>Transaction id</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactions)
            {
                <tr>
                    <th>@transactionIndex @{transactionIndex++;}</th>
                    <th>@transaction.SenderIBAN</th>
                    <th>@transaction.ReceiverIBAN</th>
                    <th>@transaction.ReceiverFullName</th>
                    <th>@transaction.TransactionId</th>
                    <th>@transaction.Description</th>
                    <th>@transaction.Amount @transaction.Currency</th>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />

<h2><b>Your most used cards</b></h2>
<div class="table-responsive-md">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Card Id</th>
                <th>Card Type</th>
                <th>Associated account</th>
                <th>Holder</th>
                <th>Balance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th><pre>0543 1233 4444 8132</pre></th>
                <th>Mastercard</th>
                <th>RO008383842139923</th>
                <th>Johnatan F. Smith</th>
                <th>345 RON</th>
                <th></th>
            </tr>
            <tr>
                <th>2</th>
                <th><pre>0543 1233 4444 8132</pre></th>
                <th>Mastercard</th>
                <th>RO008383842139923</th>
                <th>Johnatan F. Smith</th>
                <th>345 RON</th>
                <th></th>
            </tr>
            <tr>
                <th>3</th>
                <th><pre>0543 1233 4444 8132</pre></th>
                <th>Mastercard</th>
                <th>RO008383842139923</th>
                <th>Johnatan F. Smith</th>
                <th>345 RON</th>
                <th></th>
            </tr>
        </tbody>
    </table>
</div>

<div class="container d-flex justify-content-center">
    <canvas id="barChart" style="max-width: 500px;"></canvas>
</div>

<hr />